{#
/**
 * @file
 * Adds a "container-inline" wrapper for partial date components element.
 *
 * Available variables:
 * - element: built by PartialDateElement.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('container-inline') }}>{{ element }}</div>
